/* 基礎層：用於設置基礎樣式，如重置樣式、默認字體等 */
@layer base {
  body {
    background-color: #252525;
    color: #ffffff;
  }

  /* 共用消樣式 */
  input:focus-visible {
    outline: none;
  }

  textarea:focus-visible {
    outline: none;
  }

  select:focus-visible {
    outline: none;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  input[type="password"],
  input[type="tel"] {
    @apply bg-transparent border border-gray-500 rounded-md p-2 w-full;
  }

  textarea {
    @apply bg-transparent border border-gray-500 rounded-md p-2 w-full;
  }
}
